html {
    background-color: aquamarine;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


h1 {
    text-align: center;
}

p {
    text-align: center;
}

textarea {
    height: 50px;
}

.va {
    vertical-align: top;
    padding: 0;
}

tr>td {
    padding-bottom: 0.9em;
}

#mytable {
    background-color: white;
    border-radius: 2%;
    width: 70%;
    padding: 10px;
    margin: auto;
}